<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Grocery List!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>
   <nav class="navbar navbar-muted bg-muted">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://grocery--list.herokuapp.com/">
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/shopping-list-9-622201.png" alt="" width="30" height="24" class="d-inline-block align-top">
        Grocery List App
      </a>
    </div>
  </nav>
  <body>
    <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://image.winudf.com/v2/image1/aW4ubWFrZS5ncm9jZXJ5bGlzdF9pY29uXzE2MDAyMTUzMjhfMDc4/icon.png?w=170&fakeurl=1" alt="" width="30" height="24" class="d-inline-block align-top">
        Grocery List App
      </a>
    </div>
  </nav>
      {{{body}}}
  </body>
</html>
