{{!-- 
<div class=container>
  <header class="row mt-4">
    <div class="col h1">
      Grocery List App
    </div>
  </header>
</div>
<div>
  <br>
</div> --}}
<div class=container>
  <div class="container h3">
    <div class="row">
      <div class="col-1"></div>
      <div class="h5 col-9">
        <p>Welcome to the grocery list app. Here we will help you create and specify your purchase needs. From groceries to sundries, we work to make your specific supermarket shopping needs time effective and product specific by helping you find the exact products you want to add into your shopping list.</p>
      </div>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="container h2">
    <form class="form-horizontal" id="addListFrm">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="listid">ListID:</label>  
  <div class="col-md-4">
  <input id="listid" name="listid" type="text" placeholder="No special chars.." class="form-control input-md" required="true">
    
  </div>
</div>
<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="srchBTN" name="srchBTN" class="btn btn-info">Search</button>
    <button id="createBTN" name="createBTN" class="btn btn-primary">Create List</button>
  </div>
</div>

</fieldset>
</form>
  </div>




<!--Add a divide here to show the lists -->
 {{#each data}}
                <!--  {{#unless this.devoured}} -->
      
                <div class="col-md-9 text-center">
                  <div class="row">
                    {{dataValues.publicID}}
                    <button class="btn btn-default" id="viewBtn" data-id={{dataValues.id}} name ={{dataValues.publicID}}>View!</button>
                    </div>
                </div>
                <!-- {{/unless}} -->
  {{/each}}



 <script type="text/javascript" src="../js/addList.js"></script> 
 