<form class="form-horizontal" id="addListFrm">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product">ListID:</label>  
  <div class="col-md-4">
  <input id="list" name="list" type="text" placeholder="No special chars.." class="form-control input-md" required="true">
    
  </div>
</div>
<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="srchBTN" name="srchBTN" class="btn btn-info">Search</button>
    <button id="createBTN" name="createBTN" class="btn btn-primary">Create List</button>
  </div>
</div>

</fieldset>
</form>

 <script type="text/javascript" src="../js/addList.js"></script> 