




<div class=container>
  <header class="row mt-4">
    <div class="col h1">
      Grocery List App
    </div>
  </header>
</div>
<div>
  <br>
</div>
<div class=container>
  <div class="container h3">
    <div class="row">
      <div class="col-1"></div>
      <div class="h5 col-9">
        <p>Welcome to the grocery list app. Here  Please add a product below!</p>
      </div>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="container h2">
    <form class="form-horizontal" id="addPrdFrm">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product">Product:</label>  
  <div class="col-md-4">
  <input id="product" name="product" type="text" placeholder="Agua.." class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
  <div class="col-md-4">

    <select id="catSelect" name="selectbasic" class="form-control">
        
        {{#each data}}
      <option value="cat" data-id={{id}}>{{name}}</option>
         {{/each}}  

    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price">Price per Unit:</label>  
  <div class="col-md-2">
  <input id="price" name="price" type="text" placeholder="13.45" class="form-control input-md">
  <span class="help-block">Per Unit</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitProduct"></label>
  <div class="col-md-4">
    <button id="submitProduct" name="submitProduct" class="btn btn-info">Submit</button>
  </div>
</div>

</fieldset>
</form>
  </div>

<script type="text/javascript" src="../js/addProduct.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">