<div class="container">
      <p>{{data.list.publicID}}</p>

      <div class="row">
            <!-- form to add a product -->
            <form id="addPrdtoLstFrm" data-id= {{data.list.id}}>
            <label for="product">Choose a product to add: </label>
           <select name="prodSelAdd" id="prodSelAdd"></select>
           <button id="aplBTN">Add Product!</button>
           </form>
      </div>
      <div class="container" id="productList">

      <!-- Lets show each of the items -->
      <div class ="something">            
      {{#each data.items}}
      <p class="row">{{name}}</p>
      {{/each}}
      </div>
      </div>



</div>

<script type="text/javascript" src="../js/grocery-list.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">