<div class="container">

      <p>User should be able to see all products here</p>
    
      {{#each data}}
      
      {{name}}
      {{/each}}

</div>

<link rel="stylesheet" type="text/css" href="css/style.css">